<div class="col">
    <div class="card" >
        <div class="card-body" [class.is-invalid]="hasQuantityError()">
            <h5 class="card-title">{{product.name}}</h5>
            <div class="features">
            <p class="card-text">
                Category : {{product.category.name}}
            </p>
            <p class="card-text">
                Price : {{product.price}} $
            </p>
            <p class="card-text">
                Quantity : {{product.quantity}}
            </p>
            <p class="card-text">
                Units In Stock : {{product.unitInStock}}
            </p>
            <p class="card-text">
                Description : 
                <ng-container *ngIf="product.description.length > 16">
                      {{ product.description | slice:0:16 }}...
                </ng-container>
                <ng-container *ngIf="product.description.length <= 16">
                      {{ product.description }}
                </ng-container>
            </p>
            </div>
            <div class="button-group">
                <button type="button" (click)="editProduct()" class="btn btn-secondary me-2" >Update</button>
                <button type="button" (click)="deleteProduct(product.id)"  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#areyousure">Delete</button>
            </div>
            <!-- <i class="fa-solid fa-trash-can"></i>
            <i class="fa-solid fa-pen"></i> -->
        </div>
    </div>
</div>

