.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.card-body {
    padding: 20px;
}

.btn-group {
    margin-top: 10px;
}

.card-title{
    margin-bottom: 2rem;
}