<form class="formControl" [formGroup]="createForm">
    <div class="mb-3">
      <label for="txtProductName" class="form-label">Product Name</label>
      <input formControlName="productName" type="text" class="form-control" id="txtProductName">
    </div>
    <div class="mb-3">
      <label class="form-label">Category Name</label>
      
      <select formControlName="productCategoryID" class="form-select" aria-label="Default select example">
        @for (category of categories; track category.id) {
          <option value="{{category.id}}">{{category.name}}</option>
        }
      </select>
    </div>
    <div class="mb-3">
      <label for="txtProductPrice" class="form-label">Price</label>
      <input formControlName="productPrice" type="number" class="form-control" id="txtProductPrice" min="0">
    </div>
    <div class="mb-3">
      <label for="txtProductQuantity" class="form-label">Quantity</label>
      <input formControlName="productQuantity" type="number" class="form-control" id="txtProductQuantity" min="0">
    </div>
    <div class="mb-3">
      <label for="txtProductUnitInStock" class="form-label">Units In Stock</label>
      <input formControlName="productUnitInStock" type="number" class="form-control" id="txtProductUnitInStock" readonly>
    </div>
    <div class="mb-3">
      <label for="txtProductMinimumCount" class="form-label">Minimum Count</label>
      <input formControlName="productMinimumCount" type="number" class="form-control" id="txtProductMinimumCount" min="0">
    </div>
    <div class="mb-3">
      <label for="txtProductDescription" class="form-label">Description</label>
      <input formControlName="productDescription" type="text" class="form-control" id="txtProductDescription">
    </div>
    <!-- <div>
      <br>
      <button type="submit" class="btn btn-primary">Add Product</button>
      <button class="ms-2 btn btn-warning" type="button" (click)="cancel()">Cancel</button>
    </div> -->
    <div class="mt-2">
      <button type="button" class="editselect ms-2" [disabled]="bothFieldsCannotBeEmpty()" data-bs-toggle="modal" data-bs-target="#areyousure">
          <span class="text">Add Product</span>
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.7-14.3-32-32-32h-32c-17.7 0-32 14.3-32 32v144H32c-17.7 0-32 14.3-32 32v32c0 17.7 14.3 32 32 32h144v144c0 17.7 14.3 32 32 32h32c17.7 0 32-14.3 32-32V304h144c17.7 0 32-14.3 32-32v-32c0-17.7-14.3-32-32-32z"/></svg></span></button>
       
     <button type="button" class="noselect ms-2" (click)="cancel()">
          <span class="text">Cancel</span>
          <span class="icon">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.5 239L228.9 44.7c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9L131.5 256l154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0L34.5 273c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></span></button>
    </div>
    </form>
    <app-are-you-sure (areYouSureEvent)="addProduct()" [areYouSureQuestion]="areYouSureQuestion" >
    </app-are-you-sure>