/* Tablo stilleri */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff7e6;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    max-width: 10px; /* Maksimum genişlik ayarı */
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-add{
    color: #FFF7E6;
    background-color: #273D45;
}


/* İstemci bilgisi stilleri */
.client {
    display: flex;
    align-items: center;
}

.selectedShelf{
    background-color: #273D45;
    color: #FFF7E6;
}

.client-info h4 {
    margin: 0;
}

.client-info small {
    color: #666;
}


/* Eylemler stilleri */
.actions {
    display: flex;
}

.actions span {
    margin-right: 5px;
    cursor: pointer;
}

.mt-2 {
    display: flex;
}
.editselect, .noselect {
    margin-right: 10px;
}
/*****************************/
.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #911313;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }
/*****************************/ 

/*****************************/
.editselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #1f7ea0;
   }
   
   .editselect, .editselect span {
    transition: 200ms;
   }
   
   .editselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .editselect .icon {
    position: absolute;
    border-left: 1px solid #185e77;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .editselect svg {
    width: 18px;
    fill: #eee;
   }
   
   .editselect:hover {
    background: #2596be;
   }
   
   .editselect:hover .text {
    color: transparent;
   }
   
   .editselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .editselect:focus {
    outline: none;
   }
   
   .editselect:active .icon svg {
    transform: scale(0.8);
   }
/*****************************/ 

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.3));
}

.label {
    position: relative;
    top: -1px;
}

.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 1000ms;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}