.btn{
  width: 20%;
  height: 40px;
  border: none;
}

.primary {
  background-color:  var(--lightbluebtn-color);
  color: white;
}
.primary:hover {
  background-color: var(--bluebtn-color);
}
.secondary {
  background-color: var(--lightredbtn-color);
  color: white;
}
.secondary:hover {
  background-color: var(--redbtn-color);
}

.modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle-exclamation{
  font-size: 100px;
  color: var(--lightredbtn-color);
}

.modal-body{
  font-size: 20px;
  text-align: center;
}

.modal-footer{
  display: flex;
  justify-content: space-evenly;
}
.modal-content{
  border-radius: 26px;
}




