  <div class="modal fade" id="areyousure" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <div class="modal-body">
          {{areYouSureQuestion}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn primary" data-bs-dismiss="modal" (click)="buttonYesClick(selectedId!)">Yes</button>
          <button type="button" class="btn secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
