<div class="product-table">
  <div class="record-header">
    <div class="browse">
      <div class="search-container">
        <input type="text" placeholder="Search Product" class="record-search" [(ngModel)]="searchText">
        <span>
          <i class="bi bi-search"></i>
        </span>
      </div>
      <button (click)="addProduct()" class="left-button">
        <span class="transition"></span>
        <span class="gradient"></span>
        <span class="label">Add Product</span>
      </button>
      <button (click)="reportProduct()" class="right-button">
        <span class="transition"></span>
        <span class="gradient"></span>
        <span class="label">Report Product</span>
      </button>
      <button (click)="reportMinimumCount()" class="right-button">
        <span class="transition"></span>
        <span class="gradient"></span>
        <span class="label">Minimum Count</span>
      </button>
    </div>
  </div>

  <app-product-list (loadProductEvent)="loadProducts()" [uuidToSequenceMap]="uuidToSequenceMap" [products]="filterProducts()" (edit)="editProduct($event)"
    (delete)="deleteProduct($event)">
  </app-product-list>
</div>