
    <div class="record-header">
        <div class="browse">
           <input type="search" placeholder="Search" class="record-search">
           <button (click)="addProduct()">
            <span class="transition"></span>
            <span class="gradient"></span>
            <span class="label">Add Product</span>
          </button>
          
        </div>
    </div>
    <div>
        <table width="100%">
            <thead>
                <tr>
                    <th> ID </th>
                    <th><span class="las la-sort"></span> Product Name </th>
                    <th><span class="las la-sort"></span> Price </th>
                    <th><span class="las la-sort"></span> Quantity </th>
                    <th><span class="las la-sort"></span> Units In Stock </th>
                    <th><span class="las la-sort"></span> Description </th>
                    <th><span class="las la-sort"></span> Actions </th>
                </tr>
            </thead>
        </table>
    </div>
    

    <app-product-list *ngFor="let product of products" [product]="product"
            (edit)="editProduct($event)"
            (delete)="deleteProduct($event)"
            >

            </app-product-list>

