<div class="container">
  <div class="row justify-content-md-center">
    <div>
      <button class="btn btn-primary mb-2" (click)="addProduct()">Add Product</button>
      <form [formGroup]="searchForm" >
        <div class="search-container">
          <input type="text" placeholder="Search Category" class="record-search" formControlName="searchText"/> 
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        </form>
    </div>
    <app-product-card class="ms-2 col-3 mb-5" 
             *ngFor="let product of filteredProducts" [product]="product"
             (edit)="editProduct($event)"
             (delete)="selectedProduct($event.id)"  
             >
    </app-product-card>
    </div>
    <app-are-you-sure (areYouSureEvent)="deleteProduct(id)" [areYouSureQuestion]="areYouSureQuestion" >
    </app-are-you-sure>
</div>

