/* Tablo stilleri */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    max-width: 10px; /* Maksimum genişlik ayarı */
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    width: 100%;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    // max-width: 190px;
  }
  
  .input {
    width: 500px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: rgba(0, 48, 73, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
  
.yanyana{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
}

.record-header {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// input,
// button,
// select {
//     outline: none;
// }

// .add,
// .browse {
//     display: flex;
//     align-items: center;
// }

// .add select,
// .browse input,
// .browse select {
//     height: 35px;
//     border: 1px solid #b0b0b0;
//     border-radius: 3px;
//     display: inline-block;
//     width: 75px;
//     padding: 0rem .5rem;
//     margin-right: .8rem;
//     color: #666;
// }

// .browse input {

//     width: 175px;

// }

.browse select {
    width: 100px;
}


/* İstemci bilgisi stilleri */
.client {
    display: flex;
    align-items: center;
}

.shelf-table{
    padding: 1rem;
}

.selectedShelf{
    background-color: #62b0b6a0;
}

.client-info h4 {
    margin: 0;
}

.client-info small {
    color: #666;
}


/* Eylemler stilleri */
.actions {
    display: flex;
}

.actions span {
    margin-right: 5px;
    cursor: pointer;
}

.buttons {
    text-align: center;
}

.buttons div {
    display: inline-block;
    margin-right: 10px;
}


.right-button {
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    /* Daha küçük bir font boyutu */
    padding: 7px 14px;
    /* Daha küçük bir padding */
    font-weight: 500;
    background: #063577;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
}


.left-button {
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    /* Daha küçük bir font boyutu */
    padding: 7px 14px;
    /* Daha küçük bir padding */
    font-weight: 500;
    background: #a71616;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.3));
}

.label {
    position: relative;
    top: -1px;
}

.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 1000ms;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button:hover .transition {
    width: 14em;
    height: 14em;
}

button:active {
    transform: scale(0.97);
}

.accordion-button::after {
    display: none;
}
.accordion-button {
    display: flex; /* Flexbox kullanarak içeriklerin yatay olarak yayılmasını sağlar */
    justify-content: space-between; /* İçerikler arasında boşluk bırakır */
    align-items: center; /* İçerikleri dikey olarak hizalar */
    padding: 0px;
}

.accordion-button > div {
    flex-grow: 1; /* İç içe divin tüm boş alanı kaplamasını sağlar */
}
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 150px; /* İstenilen yerde ayarlayabilirsiniz */
    transform: translateY(-50%);
    opacity: 0.7;
}
