<table width="100%">
    <tbody>
        <tr>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.password}}
            </td>
            <td>
                <ul>
                    <li *ngFor="let role of user.roles">{{ role.name }}</li>
                </ul>
            </td>
            <td>
                <div class="buttons">
                    <div>
                        <!-- <button type="button" (click)="editProduct()" class="btn btn-success btn-sm">Update</button> -->
                        <button type="button" class="left-button" (click)="editProduct()">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Update</span>
                        </button>
                    </div>
                    <div>
                        <!-- <button type="button" (click)="deleteProduct()" class="btn btn-danger btn-sm">Delete</button> -->
                        <button type="button" class="right-button" (click)="deleteProduct()">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Delete</span>
                        </button>
                    </div>
                </div>

            </td>

        </tr>
    </tbody>
</table>