<div class="shelf-table">
    <div class="record-header">
        <div class="browse">
            <!-- <input type="search" placeholder="Search Shelf ID" class="record-search" [(ngModel)]="searchShelfId">
            <i class="fa-solid fa-magnifying-glass"></i> -->
            <div class="search-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="text" placeholder="Search Shelf ID" class="record-search" [(ngModel)]="searchShelfId">
            </div>
            
            <button (click)="addShelf()" class="right-button">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">Add Shelf</span>
            </button>
        </div>
    </div>
    <div>
        @if (shelves.length == 0) {
        It seems there are no shelves...
        } @else {
        <table width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Shelf Capacity</th>
                    <th>Product Count</th>
                    <th>Shelf Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (shelf of filterShelf(); track shelf.id) {
                    <tr [class.selectedShelf]="selectedShelf == shelf" (click)="setSelectedShelf(shelf)">
                    <td>{{ shelf.id }}</td>
                    <td>{{ shelf.capacity }}</td>
                    <td>{{ shelf.productCount }}</td>
                    <td>{{ shelf.productCategory }}</td>
                 <td>
                    <div class="buttons">
                        <div>
                            <button (click)="editShelf(shelf)" class="right-button">
                                <span class="transition"></span>
                                <span class="gradient"></span>
                                <span class="label">Update</span>
                            </button>
                        </div>
                        <div>
                            <button (click)="deleteShelf(shelf)" class="left-button">
                                <span class="transition"></span>
                                <span class="gradient"></span>
                                <span class="label">Delete</span>
                            </button>
                        </div>
                    </div>
                </td>
                    
                </tr>
                @if (selectedShelf?.id == shelf.id) {
                <tr>
                    <td colspan=5>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (product of products; track product.id) {
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.count }}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                }

                }

            </tbody>
        </table>
        }
    </div>
</div>