<div class="shelf-table">
           @if (shelves.length == 0) {
                It seems there are no shelves...
                }  @else {
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Shelf Capacity</th>
                                <th>Product Count</th>
                                <th>Shelf Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (shelf of shelves; track shelf.id) {
                                <tr [class.selectedShelf]="selectedShelf == shelf" (click)="setSelectedShelf(shelf)">
                                    <td>{{ shelf.id }}</td>
                                    <td>{{ shelf.capacity }}</td>
                                    <td>{{ shelf.productCount }}</td>
                                    <td>{{ shelf.productCategory }}</td>
                                    <td>&nbsp;</td>
                                </tr>
                                @if (selectedShelf?.id == shelf.id) {
                                    <tr>
                                        <td colspan=5>
                                            <table width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Count</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (product of products; track product.id) {
                                                        <tr>
                                                            <td>{{ product.name }}</td>
                                                            <td>{{ product.count }}</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                                
                            }
                            
                        </tbody>
                    </table>
                    }
                </div>