.mt-2 {
    display: flex;
}
.editselect, .noselect {
    margin-right: 10px;
}
/*****************************/
.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #efb60c;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #a7800a;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ffc310;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }
/*****************************/ 

/*****************************/
.editselect {
    width: 190px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #1f7ea0;
   }
   
   .editselect, .editselect span {
    transition: 200ms;
   }
   
   .editselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .editselect .icon {
    position: absolute;
    border-left: 1px solid #185e77;
    transform: translateX(150px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .editselect svg {
    width: 18px;
    fill: #eee;
   }
   
   .editselect:hover {
    background: #2596be;
   }
   
   .editselect:hover .text {
    color: transparent;
   }
   
   .editselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(22px);
   }
   
   .editselect:focus {
    outline: none;
   }
   
   .editselect:active .icon svg {
    transform: scale(0.8);
   }

   .add{
    background: #3f51b5;
   }
   .add .icon{
    border-left: 1px solid #22307e;
   }
   .add:hover {
    background: #5972fd;
   }
   
/*****************************/ 






