<form class="formControl" [formGroup]="createForm">
    <div class="mb-3">
      <label for="txtProductName" class="form-label">Product Name</label>
      <input formControlName="productName" type="text" class="form-control" id="txtProductName">
    </div>
    <div class="mb-3">
      <label for="txtProductPrice" class="form-label">Price</label>
      <input formControlName="productPrice" type="number" class="form-control" id="txtProductPrice" min="0">
    </div>
    <div class="mb-3">
      <label for="txtProductQuantity" class="form-label">Quantity</label>
      <input formControlName="productQuantity" type="number" class="form-control" class="form-control" id="txtProductQuantity" readonly>      
    </div>
    <div class="mb-3">
      <label for="txtIncomingProductQuantity" class="form-label">Quantity of products received</label>
      <input formControlName="incomingProductQuantity" type="number" class="form-control" class="form-control" id="txtIncomingProductQuantity" min="0" placeholder="0" (focus)="clearFieldOnFocus('incomingProductQuantity')">      
    </div>    
    <div class="mb-3">
      <label for="txtProductUnitInStock" class="form-label">Units In Stock</label>
      <input formControlName="productUnitInStock" type="number" class="form-control" id="txtProductUnitInStock" readonly>
    </div>
    <div class="mb-3">
      <label for="txtProductMinimumCount" class="form-label">Minimum Count</label>
      <input formControlName="productMinimumCount" type="number" class="form-control" id="txtProductMinimumCount" min="0">
    </div>
    <div class="mb-3">
      <label for="txtProductDescription" class="form-label">Description</label>
      <input formControlName="productDescription" type="text" class="form-control" id="txtProductDescription">
    </div>
    <!-- <button type="button" class="btn btn-primary" [disabled]="hasQuantityError()">Edit Product</button>
    <button class="ms-2 btn btn-warning" type="button" (click)="cancel()">Cancel</button> -->
    <div class="mt-2">
      <button type="button" class="editselect ms-2" [disabled]="bothFieldsCannotBeEmpty()" data-bs-toggle="modal" data-bs-target="#areyousure">
          <span class="text">Save</span>
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M48 96V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V170.5c0-4.2-1.7-8.3-4.7-11.3l33.9-33.9c12 12 18.7 28.3 18.7 45.3V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H309.5c17 0 33.3 6.7 45.3 18.7l74.5 74.5-33.9 33.9L320.8 84.7c-.3-.3-.5-.5-.8-.8V184c0 13.3-10.7 24-24 24H104c-13.3 0-24-10.7-24-24V80H64c-8.8 0-16 7.2-16 16zm80-16v80H272V80H128zm32 240a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"/></svg></span></button>
      <button type="button" class="noselect ms-2" (click)="cancel()">
          <span class="text">Cancel</span>
          <span class="icon">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.5 239L228.9 44.7c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9L131.5 256l154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0L34.5 273c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></span></button>
    </div>
  </form>
  <app-are-you-sure (areYouSureEvent)="editProduct()" [areYouSureQuestion]="areYouSureQuestion" >
  </app-are-you-sure>