/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: none;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../../assets/other-img/login2.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(5px); 
  z-index: -1;
}

.wrapper {
  width: 420px;
  background-color: rgba(230, 212, 162, 0.945);
  color: var(--darkblue-color);
  border-radius: 12px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Header Styles */
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 800;
}

/* Input Box Styles */
.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.input-box input {
  width: calc(100% - 3px);
  height: 50px;
  background: transparent;
  border: 2px solid var(--darkblue-color);
  border-radius: 40px;
  padding: 20px 20px 20px 50px;
  font-size: 16px;
  color: var(--darkblue-color);
  outline: none;
}

.input-box input::placeholder {
  position: absolute;
  left: 50px;
  color: var(--darkblue-color);
}

.input-box i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #666666;
}

.btn {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: 2px solid var(--darkblue-color);
  font-family: inherit;
  font-weight: 500;
  color: #E3CF9C;
  background-color: var(--darkblue-color);
  width: 100%;
 }
 
 .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--darkblue-color);
  color:#E3CF9C;
  border: 2px solid rgb(62, 32, 20);
 }
 
 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btn::after {
  background-color: rgb(62, 32, 20);
  border: 2px solid rgb(62, 32, 20);
 }
 


.back {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  font-size: 14px; 
  color: var(--darkblue-color); 
  padding: 0; 
  display: block; 
  margin: 0 auto;
  text-align: center; 
}

.back:hover {
  text-decoration: underline;
}



/* Responsive Styles */
@media (max-width: 100px) {
  .wrapper {
      width: auto;
      padding: 100px 90px 33px 85px;
  }
}

@media (max-width: 768px) {
  .wrapper {
      padding: 20px 50px 33px 50px;
  }
}

@media (max-width: 660px) {
  .wrapper {
      padding: 20px 15px 33px 15px;
  }
}

