<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="./login.component.scss">
</head>
<body>
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <h1>LOG IN</h1>
      <div class="input-box">
        <input type="text" formControlName="email" placeholder="Email">
        <i class="bi bi-person-fill"></i>
      </div>
      <div class="input-box">
        <input type="password" formControlName="password" placeholder="Password">
        <i class="bi bi-key-fill"></i>
      </div>
     
      <button type="submit" class="btn">Log In</button>
      <br>
      <br>
      <button type="submit" class="back" (click)="backToMenu()">
        <i class="bi bi-box-arrow-in-left"></i>Back to Menu
      </button>
    </form>
  </div>
</body>
</html>
  
