<form [formGroup]="createForm">
    <div class="mb-3">
      <label for="txtProductName" class="form-label">Product Name</label>
      <input formControlName="productName" type="text" class="form-control" id="txtProductName">
    </div>
    <div class="mb-3">
      <label for="txtProductPrice" class="form-label">Price</label>
      <input formControlName="productPrice" type="number" class="form-control" id="txtProductPrice" min="0">
    </div>
   <!--  <div class="mb-3">
      <label for="txtProductQuantity" class="form-label">Quantity</label>
      <input formControlName="productQuantity" type="number" class="form-control" [class.is-invalid]="hasQuantityError()" id="txtProductQuantity" min="0">
      @if(hasQuantityError()){
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      }
    </div> -->
    <div class="mb-3">
      <label for="txtProductQuantity" class="form-label">Quantity</label>
      <input formControlName="productQuantity" type="number" class="form-control" class="form-control" id="txtProductQuantity" readonly>      
    </div>
    <div class="mb-3">
      <label for="txtIncomingProductQuantity" class="form-label">Quantity of products received</label>
      <input formControlName="incomingProductQuantity" type="number" class="form-control" class="form-control" id="txtIncomingProductQuantity" min="0" placeholder="0"(focus)="clearFieldOnFocus('incomingProductQuantity')">      
    </div>    
    <div class="mb-3">
      <label for="txtProductUnitInStock" class="form-label">Units In Stock</label>
      <input formControlName="productUnitInStock" type="number" class="form-control" id="txtProductUnitInStock" readonly>
    </div>
    <div class="mb-3">
      <label for="txtProductMinimumCount" class="form-label">Minimum Count</label>
      <input formControlName="productMinimumCount" type="number" class="form-control" id="txtProductMinimumCount" min="0">
    </div>
    <div class="mb-3">
      <label for="txtProductDescription" class="form-label">Description</label>
      <input formControlName="productDescription" type="text" class="form-control" id="txtProductDescription">
    </div>
    <div class="mt-2">
      <button type="button" class="editselect ms-2" [disabled]="bothFieldsCannotBeEmpty()" data-bs-toggle="modal" data-bs-target="#areyousure">
          <span class="text">Edit</span>
          <span class="icon">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg></span></button>
      <button type="button" class="noselect ms-2" (click)="cancel()">
          <span class="text">Cancel</span>
          <span class="icon">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.5 239L228.9 44.7c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9L131.5 256l154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0L34.5 273c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></span></button>
    </div>
  </form>
  <app-are-you-sure (areYouSureEvent)="editProduct()" [areYouSureQuestion]="areYouSureQuestion" >
  </app-are-you-sure>