<form class="formControl" [formGroup]="updateForm" >
  <div class="mb-3">
    <label for="txtEmail" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="txtEmail" readonly>
  </div>
  <div class="mb-3">
    <label for="txtPassword" class="form-label">Password</label>
    <div style="width: 100%;">
      <p-password [toggleMask]="true" formControlName="password" />
    </div>
    <div *ngIf="updateForm.get('password')?.touched" class="small text-danger">
      <div *ngIf="updateForm.get('password')?.errors?.['minlength']">Password must contain at least 3 characters!</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="txtConfirmPassword" class="form-label">Verify Password</label>
    <div style="width: 100%;">
      <p-password [toggleMask]="true" formControlName="confirmPassword" />
    </div>
        <div *ngIf="updateForm.get('confirmPassword')?.touched" class="small text-danger">
          <div *ngIf="updateForm.get('confirmPassword')?.errors?.['minlength']">Password must contain at least 3 characters!</div>
          <div *ngIf="updateForm.errors?.['confirmPassword']">Password not matched!</div>
        </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Roles</label>
    <div class="form-check" *ngFor="let role of roles">
      <input 
        class="form-check-input" 
        type="checkbox" 
        id="{{ 'chk_' + role.id }}" 
        [value]="role" 
        [checked]="isSelected(role)"
        (change)="toggleSelection(role)"
      >
      <label class="form-check-label" for="{{ 'chk_' + role.id }}">{{ role.name }}</label>
    </div>
  </div>
  <div class="mt-2">
    <button type="button" class="editselect ms-2" [disabled]="!updateForm.valid" data-bs-toggle="modal" data-bs-target="#areyousure">
        <span class="text">Save</span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M48 96V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V170.5c0-4.2-1.7-8.3-4.7-11.3l33.9-33.9c12 12 18.7 28.3 18.7 45.3V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H309.5c17 0 33.3 6.7 45.3 18.7l74.5 74.5-33.9 33.9L320.8 84.7c-.3-.3-.5-.5-.8-.8V184c0 13.3-10.7 24-24 24H104c-13.3 0-24-10.7-24-24V80H64c-8.8 0-16 7.2-16 16zm80-16v80H272V80H128zm32 240a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"/></svg>
        </span>
    </button>
    <button type="button" class="noselect ms-2" (click)="cancel()">
        <span class="text">Cancel</span>
        <span class="icon">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.5 239L228.9 44.7c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9L131.5 256l154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0L34.5 273c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
        </span>
    </button>
  </div>
  <br>
</form>
<app-are-you-sure (areYouSureEvent)="editUser()" [areYouSureQuestion]="areYouSureQuestion"></app-are-you-sure>