<form [formGroup]="entryForm">
    <div class="row">
        <div class="col">
            <div style="float:left">
                <div class="dropdown">
                    <div class="dropdown">
                        Products on shelves: 
                    </div>
                    <div>
                        <button class="form-select mt-2 mb-4" type="button" id="fruitSelectButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div>
                                @if (selectedProduct == null) {
                                    Select Product
                                } @else {
                                    <span>{{selectedProduct.name}}</span>
                                }
                            </div>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="productSelectButton" id="products">
                            @for (product of products; track product.id) {
                                <li>
                                    <a class="dropdown-item" (click)="productSelect(product)">
                                        <span>{{product.name}}</span>
                                        <span>{{product.unitInStock}}</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div style="float:left">
                <div id="selected-image" style="align-items: center; display:flex;margin-left:5px"></div>
            </div>
        </div>
    </div>
    <div class="mb-3">
      <label for="count" class="form-label">Count</label>
      <input formControlName="count" type="number" class="form-control" id="count" [class.is-invalid]="hasCountError()" id="count" min="0">
      @if(hasCountError()){
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
     }
    </div>
    <div class="mt-2">
        <button type="button" class="editselect ms-2" [disabled]="emptyAndCountError()" data-bs-toggle="modal" data-bs-target="#areyousure">
            <span class="text">Dispatch Product</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M640 0V400c0 61.9-50.1 112-112 112c-61 0-110.5-48.7-112-109.3L48.4 502.9c-17.1 4.6-34.6-5.4-39.3-22.5s5.4-34.6 22.5-39.3L352 353.8V64c0-35.3 28.7-64 64-64H640zM576 400a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM23.1 207.7c-4.6-17.1 5.6-34.6 22.6-39.2l46.4-12.4 20.7 77.3c2.3 8.5 11.1 13.6 19.6 11.3l30.9-8.3c8.5-2.3 13.6-11.1 11.3-19.6l-20.7-77.3 46.4-12.4c17.1-4.6 34.6 5.6 39.2 22.6l41.4 154.5c4.6 17.1-5.6 34.6-22.6 39.2L103.7 384.9c-17.1 4.6-34.6-5.6-39.2-22.6L23.1 207.7z"/></svg></span></button>
        <button type="button" class="noselect ms-2" (click)="cancel()">
            <span class="text">Cancel</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M34.5 239L228.9 44.7c9.4-9.4 24.6-9.4 33.9 0l22.7 22.7c9.4 9.4 9.4 24.5 0 33.9L131.5 256l154 154.8c9.3 9.4 9.3 24.5 0 33.9l-22.7 22.7c-9.4 9.4-24.6 9.4-33.9 0L34.5 273c-9.4-9.4-9.4-24.6 0-33.9z"/></svg></span></button>
        </div>
  </form>
  <app-are-you-sure (areYouSureEvent)="dispatchProduct()" [areYouSureQuestion]="areYouSureQuestion" >
</app-are-you-sure>