.formControl{
    padding: 30px;
    background-color: var(--admintblbg-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.mb-3{
    width: 28.25%;
}
.mt-2 {
    display: flex;
}
.editselect, .noselect {
    margin-right: 10px;
}
/*****************************/
.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: var(--yellowbtn-color);
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid var(--darkyellowbtn-color);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: var(--lightyellowbtn-color);
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }
/*****************************/ 

/*****************************/
.editselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: var(--greenbtn-color);
   }
   
   .editselect, .editselect span {
    transition: 200ms;
   }
   
   .editselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .editselect .icon {
    position: absolute;
    border-left: 1px solid var(--darkgreenbtn-color);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .editselect svg {
    width: 18px;
    fill: #eee;
   }
   
   .editselect:hover {
    background: var(--lightgreenbtn-color);
   }
   
   .editselect:hover .text {
    color: transparent;
   }
   
   .editselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .editselect:focus {
    outline: none;
   }
   
   .editselect:active .icon svg {
    transform: scale(0.8);
   }
/*****************************/ 